<template>
  <div class="table  active">

    <ul v-for="x in arr" :key="x">
      <li v-for="y in arr" :key="y"
          :class="className" > {{ x }} * {{ y }} =
        <span :class="[ (x * y) % 2 ? 'text' : 'red', className ]">{{ x * y }}</span>
        <br>
        <v-button @click="active=!active"/>
      </li>
    </ul>
  </div>
</template>

<script>
import VButton from "@/components/VButton";


export default {
  name: 'App',
  components: {VButton},

  data: () => ({
    message: 'multiplication table',
    arr: [2, 3, 4, 5, 6, 7, 8, 9],
    active: true,
    activeLink: undefined
  }),

  computed: {
    className: function () {
      return this.active === true ? 'active' : 'red'
    },

    // changeBtn: function (){
    //   for()
    //     }
  }
  }
</script>

<style>
.fon {
  padding-top: 50px;

  height: 150px;
}

h1 {
  text-transform: uppercase;
  color: white;
  padding-left: 100px;

}

div.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;

}



.red {
  color: #ff0000;
  text-decoration-line: underline;
}

.text {
  color: #03f903;
  text-decoration-line: underline;
}

.active {
  color: blue;
  text-decoration-line: none;


}

</style>
